@font-face {
    font-family: 'slogan';
    src: url(../fonts/Yatra_One.zip);
}

@font-face {
    font-family: 'blod';
    src: url(../fonts/Caprasimo-Regular.ttf);
}
 @font-face {
    font-family: 'regular';
    src: url(../fonts/Comfortaa-Medium.ttf);
 }
 